<% content_for(:sidemenu) do %>
  <%= render('shortcuts', active: @status) %>
<% end %>

<div class="columns">
  <div class="column">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Kunder</p>
          <p class="title"><%= @count[:customers] %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Gräsklippare</p>
          <p class="title"><%= @count[:mowers] %></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Jobb</p>
          <p class="title"><%= @count[:jobs] %></p>
        </div>
      </div>
    </nav>
  </div>
</div>

<%= javascript_pack_tag('index') %>
<%= react_component('Root') %>
