<aside class="column menu is-2 aside is-fullheight is-hidden-mobile">
  <ul class="menu-list">
    <li>
      <%= link_to(root_path,
                  class: aside_item_class(['home'])) do %>
        <%= fa_icon('home') %>
        <%= 'Hem' %>
      <% end %>
    </li>
    <li>
      <%= link_to(customers_path,
                  class: aside_item_class(['customers'])) do %>
        <%= fa_icon('users') %>
        <%= Customer.model_name.human(count: 2) %>
      <% end %>
    </li>
    <li>
      <%= link_to(mowers_path,
                  class: aside_item_class(['mowers'])) do %>
        <%= fa_icon('car') %>
        <%= Mower.model_name.human(count: 2) %>
      <% end %>
    </li>
  </ul>
  <%= yield(:sidemenu) %>

  <p class="menu-label">Användare</p>
  <ul class="menu-list">
    <% if signed_in? %>
      <li><%= current_user.email %></li>
      <li>
        <%= link_to(sign_out_path, method: :delete) do %>
          <%= fa_icon('user') %>
          <%= t('.sign_out') %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to(sign_in_path) do %>
          <%= fa_icon('user') %>
          <%= t('.sign_in') %>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>
